body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

header {
    background: #222;
    padding: 15px;
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    background: #444;
    color: white;
    border: none;
    border-radius: 6px;
}

.section {
    padding: 20px;
    display: none;
}

.hidden {
    display: none;
}

table {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #666;
    padding: 8px;
}
